*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(255, 166, 0);
    background-color: #0f222b;
}

header {
    text-align: center;
    margin-top: 2rem;
}

header > h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

header > p {
    font-size: 2rem;
}
p > span {
    font-size: 3rem;
    font-family: Roboto;
    font-weight: bold;
}
.battle_result {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}

.display_wepon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    font-size: 3rem;
    gap: 10rem;
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.player_weapon,
.computer_weapon {
    border: 5px solid orange;
    width: 10rem;
    height: 10rem;
    font-size: 3rem;
    text-align: center;
    padding-top: 2.5rem;
}

.wepons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn {
    padding: 2rem;
    font-size: 4rem;
    background-color: rgb(51, 137, 137);
    cursor: pointer;
    border: 5px solid orange;
}

.btn:hover {
    background-color: rgb(34, 249, 249);
}

.win {
    color: aqua;
}

.lose {
    color: red;
}

.tie {
    color: yellow;
}

.hide {
    visibility: none;
    opacity: 0;
}
